div.accordion#accordion
    - for (var x = 1; x <= 15; x++) {
        div.accordion-group
            div.accordion-heading
                - if(bigboard[0].week_id == x){
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapse_#{x}").accordion-toggle
                        | Week #{x} - Active
                        input(type="hidden", name="week_num", class="week_num", value="#{x}")
                - } else{
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapse_#{x}").accordion-toggle.bigboard_week_link
                        | Week #{x}
                        input(type="hidden", name="week_num", class="week_num", value="#{x}")
                - } 
            - if(bigboard[0].week_id == x){
                div(id="collapse_#{x}").accordion-body.collapse.in
                    div.accordion-inner
                        table.table.table-striped
                            thead
                                tr
                                    th Game
                                    th Spread
                                    - for (id in bigboard[0].users){
                                        th
                                            | #{bigboard[0].users[id].name}
                                    - }
                            tbody
                                - for (index in bigboard){
                                    tr
                                        td #{bigboard[index].game.away_team.current_rank} #{bigboard[index].game.away_team.college} at #{bigboard[index].game.home_team.current_rank} #{bigboard[index].game.home_team.college}
                                        td
                                            - if (bigboard[index].game.spread >= 0){
                                                | #{bigboard[index].game.home_team.college} by #{bigboard[index].game.spread}
                                            - } else {
                                                | #{bigboard[index].game.away_team.college} by #{String(bigboard[index].game.spread).substring(1,3)}
                                            - }
                                        - for (id in bigboard[0].users){
                                            td #{bigboard[index].users[id].pick_team_name}
                                        - }
                                - }

            - }else{
                div(id="collapse_#{x}").accordion-body.collapse
                    div.accordion-inner
            - }
    - };
