ul.nostyle_list
    - if (games){
        - for (var i = 0; i <= games.length - 1; i++) {
            li.row.well
                input(type="hidden", name="game_id", value="#{games[i].id}").gameid
                span.span4
                    - if(games[i].pick_team_id == games[i].home_team_id){
                        button(disabled).span3.btn.btn-large.btn-success
                            i.icon-white.icon-ok
                            |  #{games[i]['home_team']['college']}
                    - }else{
                        button(disabled).span3.btn.btn-large
                            i.icon-pencil
                            |  #{games[i]['home_team']['college']}
                    - }

                span.span1  at (#{games[i]['spread']})

                span.span4
                     - if(games[i].pick_team_id == games[i].away_team_id){
                        button(disabled).span3.btn.btn-large.btn-success
                            i.icon-white.icon-ok
                            |  #{games[i]['away_team']['college']}
                    - }else{
                        button(disabled).span3.btn.btn-large
                            i.icon-pencil
                            |  #{games[i]['away_team']['college']}
                    - }
        - };
    - }else{
        li.row.well No Games Scheduled.
    - }